<%- include('./partials/header') %>

<link rel="stylesheet" href="./css/perfilEmpresa.css">


<div class="container">

  <div class="row">
    <div class="col-md-12 mt-3">
      <h3>Cadastro
        <small class="text-muted ">de materiais recicláveis</small>
      </h3>
    </div>
  </div>
  
  <div class="row mt-5 my-3"> 
    <div class="col-md-4 ">
      <form  action="/perfilEmpresa" method="get">
        <tbody>
          <tr>
            <td>
              <!-- recebendo o cpf do cliente para que seja possivel fazer uma relação com o Id do cliente e devolver esse idp ara o backend   -->
              <input type="string" name="cpf" id="cpf" placeholder= "Digite o CPF do Cliente" />
              <button type="submit" class="btn btn-success ml-3  " >Buscar</button>
            </td>
            <td>
            </td>
    </div>
            <td>
              <div class="col-md-6 align-self-end">
                <!-- se o usuario for emcontrato, imprimir nome do usuario -->
                <div class="cliente" >
                 <span> Nome do usuário: </span> 
                   <% if(typeof usuario !="undefined"){ %>
                    <span>
                      <%=  usuario.nome %> 
                    </span>
                    <% } %> 
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </form>
  </div>

  <form action="/perfilEmpresa" id="form-empresa" method="post">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">id do usuario</th>
              <th scope="col">Material</th>
              <th scope="col">Peso (kg)</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ></td>
              <td>
               <!-- se o usuario for emcontrato, imprimir nome do usuario  -->
              <% if(typeof usuario !="undefined"){ %>
                <div class="col-5">
                   <!-- --------------------passando o idCcliente para o backend, ------------------- -->
                  <input type="text" name="idCliente" value="<%= usuario.id %> " readonly>
                
              <% } %> 
              </td>
              <td>
                <!-- recebendo lista de materiais do backend (banco de dados) e imprimindo atrés de um loop -->
                <select class="form-select" name= material id="material" >
                  <option selected disabled value="">Tipo</option>
                  <% materiais.forEach(material => { %>
                    <option value=<%=material.id %>><%= material.tipo %> </option>
                    <% }) %> 
                </select>
              </td>
              <td>
                <Input type="number" class="form-control" name="peso" id="peso" placeholder="Peso do Material" step="0.10" />
              </td>
              <td>
                
                  <!-- <button type="button" class="btn btn-secondary" name="editar" id="editar"><i class="fas fa-edit"></i></button> -->
                  <!-- <button type="button" class="btn btn-danger" name="deletar" id="deletar"><i class="fas fa-trash"></i></button> -->
                <button type="button" class="btn btn-success float-right mb-2" onclick="cadPedido(idCliente.value, material.value, peso.value, material[material.selectedIndex].text)">Adicionar novos Itens</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
     <!-- Apresentação dos pedidos adicionados na tela -->
      <table  class="table">
        <div class="col-md-12">
          <thead class="thead-light">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">ID do usuario</th>
              <th scope="col">Material</th>
              <th scope="col">Peso (kg)</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody id="tableshow">
           
          </tbody >
      </table>
      <div class="row">
       
            
        <div class="col-md-12 mb-5">
          <button type="submit" id="enviar" class="btn btn-success float-right mt-3" >SALVAR PEDIDO</button>
        </div>
      </div>
  </form>
</div>

   
<%- include('./partials/footer') %>
<script src="./javascripts/crudEmpresa.js"></script>  